-i https://pypi.org/simple/
absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
gym==0.10.9
h5py==2.10.0
idna==2.8
jsanimation==0.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.2.4
kiwisolver==1.1.0
markdown==3.1.1
matplotlib==3.0.2
numpy==1.18.1
opt-einsum==3.1.0
protobuf==3.11.2
pyglet==1.4.10
pyparsing==2.4.6
python-dateutil==2.8.1
pyyaml==5.3
requests==2.22.0
scipy==1.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow==1.15.2
termcolor==1.1.0
urllib3==1.25.8
werkzeug==0.16.1
wheel==0.34.1 ; python_version >= '3'
wrapt==1.11.2
